<footer class="footer text-white m-0">
    <div class="links mb-2">
        <i class="mx-2 fa-4x fa-brands fa-facebook-square"></i>
        <i class="mx-2 fa-4x fa-brands fa-linkedin"></i>
        <i class="mx-2 fa-4x fa-brands fa-github-square"></i>
    </div>
    <div class="main-footer-text mb-1 text-center">
        <strong>
            "Por muy alta que sea una montaña, siempre hay un camino hacia la cima."
        </strong>
        
    </div>
    <div class="cop mb-1 text-center">
        <span>Alexis Eduardo Matamoros Mayorquin @2022</span>
    </div>
</footer>