@import '../../../../main-colors';

.footer{
    height: 30vh;
    width: 100vw;
    max-width: 100vw;
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .links{
        i{
            transition: all .5s;
            &:hover{
                cursor: pointer;
                color: $primary-color;
            }
        }
    }
    .cop{
        span{
            color: $primary-color;
        }
    }
}