<div class=" main-container secondary-section mt-4 father">
    <div style="height: 150px; overflow: hidden;" class="wave top mt-n1"><svg viewBox="0 0 500 150"
            preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none; fill: black;"></path>
        </svg></div>
    <div class="row">
        <h1 class="col-12 text-white text-center giant-font">
            Portfolio
        </h1>
        <div class="col-12 container px-4 mt-4">
            <div class="portfolio-section">
                <div class="card text-center mt-2" *ngFor="let proyect of proyects">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/1655817/pexels-photo-1655817.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        alt="Card image cap">
                    <div class="card-body py-2">
                        <h5 class="card-title text-white">Titulo Proyecto</h5>
                        <a href="#" class="btn btn-white form-control">Demo</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 text-center position-relative">
            <button
                class="btn btn-lg cursor-pointer position-absolute bounce text-dark d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-code-branch fa-3x"></i>
                <strong>
                    <span>Ver todos</span>
                </strong>
            </button>
        </div>
    </div>
    <div style="height: 150px; overflow: hidden;" class="w-100 mb-n5 mt-2"><svg viewBox="0 0 500 150"
            preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-3.10,113.98 C174.09,216.63 342.27,-43.89 518.34,120.89 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</div>