<div class=" main-container info-section mt-4 father">
    <div class="row">
        <h1 class="col-12 primary-text text-center giant-font mt-2">
            Habilidades
        </h1>
        <div class="col-12 container px-4 mt-4">
            <div class="skills-section">
                <i class="fa-8x fa-brands fa-html5"></i>
                <i class="fa-8x fa-brands fa-css3-alt"></i>
                <i class="fa-8x fa-brands fa-js"></i>
                <i class="fa-8x fa-brands fa-python"></i>
                <i class="fa-8x fa-solid fa-database"></i>
                <i class="fa-8x fa-brands fa-bootstrap"></i>
                <i class="fa-8x fa-brands fa-angular"></i>
                <i class="fa-8x fa-brands fa-react"></i>
                <i class="fa-8x fa-brands fa-node-js"></i>
                <i class="fa-8x fa-brands fa-github"></i>
        </div>
        </div>
    </div>
    
</div>