<div class=" main-container info-section mt-4 father">
    <div class="row">
        <h1 class="col-12 primary-text text-center giant-font mt-2">
            Habilidades
        </h1>
        <div class="col-12 container px-4 mt-4">
            <div class="skills-section">
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-html5"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-css3-alt"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-js"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-python"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-solid fa-database"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-bootstrap"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-angular"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-react"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-node-js"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
                <div class="section">
                    <i class="mt-4 rotate-20 fa-8x fa-brands fa-github"></i>
                    <div class="hide-section mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam cumque suscipit perferend</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
</div>

