@import '../../../../main-colors.scss';

.navbar{
    height: 10vh;
    width: 100vw;
    background-color: $main-color;
    transition: 1.5s;
}

.navbar-brand-font-size{
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.navbar-inverse{
    background-color: rgba(white,0.9) !important;
    backdrop-filter: blur(3px) !important;
    border-bottom: 2px solid $primary-color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.nav-link{
    transition: all .3s;
    cursor: pointer;
    border-bottom: 1px solid rgba($primary-color,0);
    &:hover{
        border-bottom: 1px solid $primary-color;
    }
}
.dropdown-item{
    cursor: pointer;
    &:active{
        background-color: $primary-color;
    }
}

@media screen and (max-width:768px){
    .full-panel{
        height: 100vh;
        padding-top: 2rem;
        background-color: $main-color;
        
    }
}