/* You can add global styles to this file, and also import other style files */
@import './main-colors';
@import '~bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.first-section{
    margin-top: 10vh !important;
}

.full-viewport-img{
    width: 100vw;
    height: 90vh;
}

.secondary-text{
    color: $secondary-color;
}

.main-container{
    height: 90vh;
    width: 100vw;
}

.father{
    position:relative;
}

.wave{
    position: absolute;
    width: 100vw;
}

.wave.top{
    top: 0;
    background-color: $main-color ;
}

.wave.bottom{
    bottom: 0;
    background-color: $main-color ;
}

.primary-text{
    color: rgba($primary-color, 0.7);
}

.primary-text-secondary{
    color: rgba($primary-color, 0.5);
}

.giant-font{
    font-size: clamp(3rem, 1.5vw, 5rem);
}

.giant-font-secondary{
    font-size: clamp(2rem, 1.5vw, 4rem);
}

.main-container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    margin-top:10vh;
    
}
.secondary-section{
    background-color: $primary-color;
    height: auto;
}

.info-section{
    background-color: $white;
    height: auto;
}

.main-section{
    background-color: $main-color;
}

.bounce{
    left: 50%;
    transform: translate(-50%, 0);
}

.bounce:hover{
    animation-name: bounce-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.rotate-20{
    cursor: pointer;
    transition: 1s;
}
.rotate-20:hover{
    transform: rotateY(30deg);
}

.bg-main{
    background-color: $primary-color;
}

.btn-main{
    background-color: $primary-color;
    transition: all .5s;
    &:hover{
        background-color: $main-color;
        border-color: $primary-color;
        color: $primary-color;
    }
}
@keyframes bounce-animation{
    0% {margin-top: 0px;}
    33%{margin-top: 15px;}
    100% {margin-bottom: -15px;}
}

@media screen and(max-width:768px) {
    .full-viewport-img{
        width: 100vw;
        height: 50vh;
    }
}